@model PlayerDetailsVM



<div class="detailsContainer">
    <div class="detailsHeader ViewHeader">
        <h1>@Model.Name</h1>
    </div>
    <div class="detailsContent">

        <div class="detailsRow" id="stats">
            <ul>
                <li>Attack: @Model.Attack</li>
                <li>Wisdom: @Model.Wisdom</li>
                <li>Damage Reduction: @Model.DamageReduction</li>
                <li>Health: @Model.HP</li>
                <li>Mana: @Model.MP</li>
            </ul>
        </div>
        <div class="detailsRow">
            @if (string.Compare(Model.Gender, "female", true) == 0)
            {
                <img class="detailsImg" src="~/img/player/woman-warrior-with-sword.png" alt="Alternate Text" />

            }
            @if (string.Compare(Model.Gender, "male", true) == 0)
            {
                <img class="detailsImg" src="~/img/player/male-warrior-silhouette-cropped.png" alt="Alternate Text" />
            }
        </div>
        <div class="detailsRow" id="spells">
            <ul>
                <li>Fireball</li>
                <li>Cure Light Wounds</li>
                <li>Control Weather</li>
            </ul>
        </div>
        @*<div id="resourceBars">
                <ul>
                    <li>Health: @Model.HP</li>
                    <li>Mana: @Model.MP</li>
                </ul>

            </div>*@
    </div>
</div>
