@model MicroRPG.Models.Puzzle[]

<div class="Outer">
    <div class="InnerLeft">
        <h3 style="font-size: 4vh";>Puzzles</h3>
        <div style="height: 800px; overflow: auto;">
            <ul>
                @for (int i = 0; i < @Model.Length; i++)
                {
                    <li class="DisplayDescription" data-index=@i>@Model[i].Name</li>
                }
            </ul>
        </div>
    </div>

    <div class="InnerRight">
        <ul>
            @for (int i = 0; i < @Model.Length; i++)
            {
                if (i == 0)
                {
                    <li class="description" id=@("puzzleName" + i) style="font-size: 5vh; display:block">@Model[i].Name</li>
                    <li class="description" id=@("description" + i) style="font-size: 3vh; display:block">@Model[i].Description</li>
                }
                else
                {
                <li class="description" id=@("puzzleName" + i) style="font-size: 5vh; display:none">@Model[i].Name</li>
                <li class="description" id=@("description" + i) style="font-size: 3vh; display:none">@Model[i].Description</li>
                }
            }
        </ul>
    </div>
</div>

<footer class="footer">
    <input class="buttons backBtn" type=button Text="Button" value="Back" style="font-size: 24px; width:100%" />
</footer>

<div class="modal" data-route="Puzzles">
    <div class="modalContainer"></div>
</div>

<style>
    body {
        background: url('http://images.easyfreeclipart.com/760/parchment-paper-background-sunny-760357.jpg');
        background-size: 100%;
    }
</style>

<script>
    $(".DisplayDescription").click(function () {
        var i = $(this).attr("data-index");
      $(".description").css("display", "none");
        $("#puzzleName" + i).css("display", "block");
        $("#description" + i).css("display", "block");
    });
</script>

