@model MicroRPG.Models.Spell[]

@{
    ViewData["Title"] = "Spells";
}

<div class="backgroundParchment">
    <div class="overlay"></div>
</div>

<div class="ViewHeader" id="spellsHeader">
    <h1>Spell Book</h1>
</div>
<div class="SubHeader">
    <h3>[Player] Choose [amountOfSpells] Spells</h3>
</div>

@* Left side: partial view spell list  *@
<div class="spellsContainer">
    <div class="InnerLeft">
        <h3 style="font-size: 5vh">Spells</h3>
        <div id="spellsList" style="height: 800px; overflow: auto;">
            <ul>
                @for (int i = 0; i < @Model.Length; i++)
                {
                    <li class="DisplayDescription" data-index=@i><input class="spellIsChosen" name="@Model[i].Name" type="checkbox" value="false" />@Model[i].Name</li>
                }
            </ul>
            <br />
        </div>
        <a asp-controller="Home" asp-action="Index">
            <input id="spellsContinueBtn" class="buttons" type=button Text="Button" value="Continue" onclick="getCheckedSpells()" />
        </a>
    </div>

    @* Right side: partial view spell description  *@
    <div class="InnerRight">
        <ul>
            @for (int i = 0; i < @Model.Length; i++)
            {
                if (i == 0)
                {
                    <li class="allDescriptions" id=@("allDescriptions" + i) style="font-size: 5vh; display:block">@Model[i].Name</li>
                    <li class="allDescriptions" id=@("manapoints" + i) style="font-size: 4vh; display:block">@Model[i].ReqWisdom Wisdom Required, Costs @Model[i].ManaPoints Mana Points</li>
                    <li class="allDescriptions" id=@("description" + i) style="display:block">@Model[i].Description</li>
                }
                <li class="allDescriptions" id=@("allDescriptions" + i) style="font-size: 5vh; display:none">@Model[i].Name</li>
                <li class="allDescriptions" id=@("manapoints" + i) style="font-size: 4vh; display:none">@Model[i].ReqWisdom Wisdom Required, Costs @Model[i].ManaPoints Mana Points</li>
                <li class="allDescriptions" id=@("description" + i) style="display:none">@Model[i].Description</li>
            }
        </ul>
    </div>
</div>

<script>

    $(".DisplayDescription").click(function () {
        var i = $(this).attr("data-index");
        $(".allDescriptions").css("display", "none");
        $("#allDescriptions" + i).css("display", "block");
        $("#description" + i).css("display", "block");
        $("#manapoints" + i).css("display", "block");
        $("#reqwisdom" + i).css("display", "block");
    });
</script>

@*<form action="/action_page.php">

        <input type="button" onclick="myFunction()" value="Send order">
        <input type="submit" value="Continue">
    </form>*@

<script>

    function getCheckedSpells() {
        var checkedVals = $('.spellIsChosen:checkbox:checked').map(function () {
            return this.name;
        }).get();
        alert(checkedVals.join(","));
    }
</script>